<ion-content class="ion-padding">
  <ion-grid [fixed]="true" class="center">
    <ion-row>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="../../../assets/images/Robin.jpg" />
            <h2>Robin Stanitzok</h2>
            <ion-text> Full-Stack Developer </ion-text>
          </ion-col>
          <ion-col>
            <h2>About me</h2>
            <ion-text>
              Welcome to my portfolio! I'm [Your Name], a passionate [Your
              Profession] with a love for [Your Interests]. I'm driven by
              creativity, innovation, and a strong desire to make a meaningful
              impact in the world. My journey in the world of [Your Field] began
              [Years of Experience] years ago, and since then, I've had the
              privilege of working on a diverse range of projects, each one
              pushing me to grow and learn. Whether it's crafting user-friendly
              interfaces, solving complex problems, or [Another Key Skill], I
              thrive on the challenge. When I'm not at my desk, you'll often
              find me [Hobbies/Interests Outside of Work]. I believe that a
              well-rounded life is key to maintaining a fresh perspective and
              staying inspired. This portfolio showcases some of my best work
              and provides a glimpse into my professional journey. Feel free to
              explore and get in touch if you'd like to collaborate or just have
              a chat. I'm always open to new opportunities and exciting
              challenges. Thank you for visiting, and I look forward to
              connecting with you!
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-button>Email me</ion-button></ion-col
          ><ion-col><ion-button><ion-icon name="logo-linkedin"></ion-icon></ion-button> <ion-button> <ion-icon name="logo-github"></ion-icon></ion-button> </ion-col
        ></ion-row>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>
